modules/__pycache__/ui_manager.cpython-310.pyc
modules/__pycache__/ui_scroll_frame.cpython-310.pyc
modules/__pycache__/wb_template_reader.cpython-310.pyc
modules/__pycache__/modbus.cpython-310.pyc
templates/wb/config-wb-led.json
templates/wb/config-wb-m1w2.json
templates/wb/config-wb-mai6.json
templates/wb/config-wb-mcm8.json
templates/wb/config-wb-mr6c.json
templates/wb/config-wb-mrm2-mini.json
templates/wb/config-wb-msw_v3.json
template_simple.json
main_backup.py
modules/__pycache__/template_manager.cpython-310.pyc
.gitignore
